#root {
  margin: 0;
  height: 100vh;
  width: 100vw;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  /* place-items: center; */
}

.dice {
  display: flex;
  gap: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.bet {
  display: flex;
  gap: 20px;
}

.roll-btn {
  display: flex;
  gap: 5px;
}

.loading {
  cursor: not-allowed;
}

.result-text {
  font-size: 16px;
  background-color: #1CAC78;
  color: white;
  padding: 10px 40px;
  border-radius: 8px;
}

.result-text span {
  display: flex;
  gap: 5px;
  align-items: center;
}